@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  position: absolute;
  width: 375px;
  height: 718px;
  padding: 64px 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 23px;
}

.logo h2 {
  color: #6070ff;
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.title {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 52px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.para {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.headline-img {
  display: -webkit-box;
  display: flex;
  margin-top: 12px;
  padding-left: 0;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
}

.h3 {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #6c7bff;
}

.img2 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 546.69px;
}

.img3 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
}

.img4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}

.img5 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 132.98px;
  top: 155.81px;
}

.img6 {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 151.59px;
}
