@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  width: 100%;
  height: 718px;
  background: #f7f7f9;
  padding: 10px;
}

.navbar {
  background: #ffff;
  width: 375px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 21px;
}

.mylogo {
  color: #6070ff;
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.title {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 52px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  background-image: url(images/Ellipse4.svg);
  background-repeat: no-repeat;
}

.para {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  background-image: url(images/Ellipse12.svg);
  background-repeat: no-repeat;
}

.headline-img {
  display: -webkit-box;
  display: flex;
  margin-top: 12px;
  padding-left: 0;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  background-image: url(images/Ellipse8.svg);
  background-repeat: no-repeat;
}

.h3 {
  position: static;
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #6c7bff;
  background-image: url(images/Ellipse5.svg);
  background-repeat: no-repeat;
}

.cards-container {
  display: flex;
  flex-direction: column;
}

.cards-list {
  list-style: none;
  padding: 1px;
}

.cards-item {
  width: 294px;
}

.title-container h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.list .list-item-item1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.list .list-item {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  background-image: url(images/Counter.jpg);
  background-repeat: no-repeat;
}

.text-container p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
}

.langage-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style: none;
  border: 8px solid #ebebff;
}

.see-btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
}

.about-me {
  width: 294px;
}

.Title {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.paragraph {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.titles {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.names {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #dfe1e6;
}

.Languages-arrow-bottom {
  display: flex;
  justify-content: space-between;
}

.bottom {
  margin: 21px;
}

.Languges-icon {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.ellipse {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
}
